<div class='aboutcontainer'>
<h1 class='about'>Dial-In is a Full Stack application buit with Ruby on Rails. The application has full CRUD functionality, and its purpose is to allow users to log in and be able to create a post that is going to render their information, location, and time created for job construction job sites.</h1>
</div>
