

  <div class ='homecontainer'>
    <% @posts.each do |post| %>
   
      <% if user_signed_in?%>
          <%= render post %>
        <%else%>
        <%= render 'posts/slide'%>
      <%end%>  
      <%# link_to "Show this post", post %>
    <% end %>
  </div> 
